{% block element_moorl_brand_slider %}
    {% set sliderConfig = element.fieldConfig.elements %}
    <div class="cms-element-{{ element.type }}">
        <div class="base-slider product-slider"
             data-product-slider="true"
             data-product-slider-options='{
                        {% if sliderConfig.elMinWidth.value %}"productboxMinWidth": "{{ sliderConfig.elMinWidth.value }}",{% endif %}
                        "slider": {
                            "gutter": 30,
                            "autoplayButtonOutput": false,
                            "nav": false,
                            "controls": true,
                            "autoplay": {% if sliderConfig.rotate.value %}true{% else %}false{% endif %}
                        }
                     }'>

            <div class="product-slider-container" data-product-slider-container="true">
                {% for brand in element.data.brands.elements %}
                    {% if (sliderConfig.onlyImages.value and brand.media) or sliderConfig.onlyImages.value == false %}
                    <div class="product-slider-item">
                        {% if sliderConfig.useLink.value and brand.link %}
                            <a href="{{ brand.link }}" target="_blank">
                        {% endif %}
                        {% if brand.media %}
                            <img src="{{ brand.media.url }}" alt="{{ brand.name }}" title="{{ brand.name }}">
                        {% else %}
                            <p>{{ brand.name }}</p>
                        {% endif %}
                        {% if sliderConfig.useLink.value and brand.link %}
                            </a>
                        {% endif %}
                    </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="product-slider-controls-container">
                <div class="base-slider-controls" data-product-slider-controls="true">
                    <button class="base-slider-controls-prev product-slider-controls-prev">
                        {% sw_icon 'arrow-head-left' %}
                    </button>
                    <button class="base-slider-controls-next product-slider-controls-next">
                        {% sw_icon 'arrow-head-right' %}
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
